.root {
  width: 1000px;
}

.puzzlePhrase {
  --columns: 4; /* Default number of columns */
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  place-items: center;
  text-align: center;
  font-size: 50px;
  padding: 10px;
}

.puzzleLetterOutline {
  height: 50px;
  width: 50px;
  border-bottom: 5px solid black;
  color: white;

  &[data-reveal-letter='true'] {
    color: red;
    font-family: 'Montserrat', sans-serif;
  }
}
