.root {
  display: grid;
  height: 100vh;
  justify-items: center;
  align-items: center;
}

.hangmanTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  text-align: center;
  color: white;
  padding: 10px;
  background: linear-gradient(
    to right,
    #0d1b2a,
    #1b263b,
    #415a77,
    #778da9,
    #e0e1dd
  );

  span {
    line-height: 1.2;

    &:nth-child(2) {
      // font-family: 'SignPainter', sans-serif;
      background: linear-gradient(
        to right,
        #03071e,
        #370617,
        #6a040f,
        #9d0208,
        #d00000,
        #dc2f02,
        #e85d04,
        #f48c06,
        #faa307,
        #ffba08
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-rendering: optimizeLegibility;
      padding: 0.1em;
    }
  }
}

.startBtn {
  padding: 10px;
  margin: 20px 0px 10px 0px;
}

.gameResult {
  font-size: 40px;
  text-align: center;

  &.animate {
    animation: bounceSize 1.5s ease-in-out;
  }
}

@keyframes bounceSize {
  0% {
    font-size: 15px;
  }
  50% {
    font-size: 60px;
  }
  100% {
    font-size: 40px;
  }
}
