.root {
  display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: auto;
  height: 100vh; /* Make the container fill the entire viewport height */
  border: 1px solid;
  justify-items: center;
  align-items: center;
  color: red;
}

// .winLose {
//   font-size: '2rem';
//   text-align: 'center';
// }
