.root {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #0d1b2a;
}

.border {
  display: grid;
  grid-template-columns: repeat(9, 100px);
  grid-template-rows: repeat(3, 100px);
  place-items: center;
  gap: 12px;
  font-size: 27px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(
    70deg,
    #ff99c8,
    #fcf6bd,
    #d0f4de,
    #a9def9,
    #e4c1f9
  );
  position: relative;
}

.border::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 8px;
  background-color: #0d1b2a;
  z-index: 1;
}

.border > * {
  position: relative;
  z-index: 2; /* Ensure children are above the pseudo-element */
}

.letterItem {
  align-content: center;
  text-align: center;
  border: none;
  height: 75px;
  width: 75px;
  color: #0d1b2a;
  border-radius: 10px;
  background: linear-gradient(
    70deg,
    #ff99c8,
    #fcf6bd,
    #d0f4de,
    #a9def9,
    #e4c1f9
  );
  transition: text-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    transform: scale(1.1); /* Enlarge text */
    border: 1px solid white;
    font-size: 35px;
    text-shadow: -1px -1px 0 #ff99c8, 1px -1px 0 #fcf6bd, -1px 1px 0 #d0f4de,
      1px 1px 0 #a9def9, 2px 2px 2px #e4c1f9;
  }

  &:active {
    background: #415a77;
    color: whitesmoke;
    text-shadow: none;
    transform: scale(1.1);
  }
}
